body {
    background-color: #efbfcf;
}
h1, h2, h3 {
    text-align: center;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cart-container {
    background-color: #cfbfef;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.product-container {
    margin-top: 10px;
    padding: 10px;
    background-color: #f3f3f3;
    border: 1px solid #ccc;
    border-radius: 5px;
}

p {
    margin: 5px 0;
}